<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1b75bb;"></span>
		<span class="sg-label">
			<b>SMX Blue*</b><br />
			$brand-smx-blue<br />
			#1b75bb
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #25a9e0;"></span>
		<span class="sg-label">
			<b>SMX Teal*</b><br />
			$brand-smx-teal<br />
			#25a9e0
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8bc53f;"></span>
		<span class="sg-label">
			<b>SMX Green*</b><br />
			$brand-smx-green<br />
			#8bc53f
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">
			<b>SMX Gray</b><br />
			$brand-smx-gray<br />
			#666666
		</span>
		<li>
			<span class="sg-swatch" style="background: #000000;"></span>
			<span class="sg-label">
				<b>Black</b><br />
				$black<br />
				#000000
			</span>
		</li>
		<li>
			<span class="sg-swatch" style="background: #ffffff;"></span>
			<span class="sg-label">
				<b>White</b><br />
				$white<br />
				#ffffff
			</span>
		</li>
	</li>
</ul>
