@font-face{font-family:Oxygen;
src:url('/fonts/Oxygen-Regular.eot');
src:url('/fonts/Oxygen-Regular.eot?#iefix') format('embedded-opentype'),url('/fonts/Oxygen-Regular.woff') format('woff'),url('/fonts/Oxygen-Regular.ttf') format('truetype'),url('/fonts/Oxygen-Regular.svg#Oxygen') format('svg');
font-weight:normal;
font-style:normal}
@font-face{font-family:Oxygen;
src:url('/fonts/Oxygen-Italic.eot');
src:url('/fonts/Oxygen-Italic.eot?#iefix') format('embedded-opentype'),url('/fonts/Oxygen-Italic.woff') format('woff'),url('/fonts/Oxygen-Italic.ttf') format('truetype'),url('/fonts/Oxygen-Italic.svg#Oxygen') format('svg');
font-weight:normal;
font-style:italic}
@font-face{font-family:Oxygen;
src:url('/fonts/Oxygen-Bold.eot');
src:url('/fonts/Oxygen-Bold.eot?#iefix') format('embedded-opentype'),url('/fonts/Oxygen-Bold.woff') format('woff'),url('/fonts/Oxygen-Bold.ttf') format('truetype'),url('/fonts/Oxygen-Bold.svg#Oxygen') format('svg');
font-weight:bold;
font-style:normal}
@font-face{font-family:Oxygen;
src:url('/fonts/Oxygen-BoldItalic.eot');
src:url('/fonts/Oxygen-BoldItalic.eot?#iefix') format('embedded-opentype'),url('/fonts/Oxygen-BoldItalic.woff') format('woff'),url('/fonts/Oxygen-BoldItalic.ttf') format('truetype'),url('/fonts/Oxygen-BoldItalic.svg#Oxygen') format('svg');
font-weight:bold;
font-style:italic}
nav .dropdown i.icon-chevron-down,nav .dropdown i.icon-chevron{opacity:1.0 !important;color:#fcaf17}btn a.primary{color:darkred !important}