<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #355394;"></span>
		<span class="sg-label">
			<b>Primary Blue</b><br />
			$brand-cmx-blue-primary<br />
			#355394
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4267a4;"></span>
		<span class="sg-label">
			<b>Secondary Blue</b><br />
			$brand-cmx-blue-secondary<br />
			#4267a4
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #678cbd;"></span>
		<span class="sg-label">
			<b>Tertiary Blue*</b><br />
			$brand-cmx-blue-tertiary<br />
			#678cbd
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
			<b>Black</b><br />
			$black<br />
			#000000
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
			<b>White</b><br />
			$white<br />
			#ffffff
		</span>
	</li>
</ul>
