Empty Text and Go
<div class="rql-control rql-group" rql-id2="Empty_Text" rql-custom="yes" rql-type="textinput" rql-control="yes" id="">
    <div class="col-12">
        <div class="input-wrapper" rql-controlgroup="yes">
            <label for="r150223284611457272" class="input-label">
                <span>Label</span>
                <span class="input-inline-tag"> - Required Field</span>
            </label>
            <div class="md-form input-group form-sm">
                <input rql-type="text" type="text" rql-id="Empty_Text" id="" rql-mask="" rql-required="yes" class="form-control input-style-override " tabindex="14">
            </div>
        </div>
    </div>
</div>

With Refresh
<div class="rql-control rql-group" rql-id2="Expression1" rql-custom="yes" rql-type="textinput" rql-control="yes" id="">
    <div class="col-12">
        <div class="input-wrapper" rql-controlgroup="yes">
            <label for="" class="input-label">
                <span>Label</span>
                <span class="input-inline-tag"> - Required Field</span>
            </label>
            <div class="md-form input-group form-sm">
                <input rql-type="text" type="text" rql-id="Expression1" id="" value="" rql-mask="" rql-required="yes" class="form-control input-style-override">
                <a rql-id="__expression__Expression1" rql-action="update" rql-visibility="" class="input-group-addon pointer">Refresh</a>
            </div>
        </div>
    </div>
</div>