<div class="rql-control rql-group" rql-id2="Empty_Text" rql-custom="yes" rql-type="textinput" rql-control="yes" id="r150223284611457272">
<div class="col-12">
<div class="input-wrapper " rql-controlgroup="yes">
<label for="r150223284611457272" class=" input-label ">
<span>Empty Text &amp; Go</span>
<span class="input-inline-tag"> - Required Field</span>
</label>
<div class="md-form input-group form-sm">
<input rql-type="text" type="text" rql-id="Empty_Text" id="r150223284611457272" rql-mask="" rql-required="yes" class="form-control input-style-override  " tabindex="14">
</div>
</div>
</div>
</div>