<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #0275d8;"></span>
		<span class="sg-label">
			$rql-blue<br />
			#0275d8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #613d7c;"></span>
		<span class="sg-label">
			$rql-purple<br />
			#613d7c
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5bc0de;"></span>
		<span class="sg-label">
			$rql-teal<br />
			#5bc0de
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5cb85c;"></span>
		<span class="sg-label">
			$rql-green<br />
			#5cb85c
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d9534f;"></span>
		<span class="sg-label">
			$rql-red<br />
			#d9534f
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f0ad4e;"></span>
		<span class="sg-label">
			$rql-orange<br />
			#f0ad4e
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffd500;"></span>
		<span class="sg-label">
			$yellow<br />
			#ffd500
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff5b77;"></span>
		<span class="sg-label">
			$rql-pink<br />
			#ff5b77
		</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #2f3233;"></span>
		<span class="sg-label">
			$rql-gray-dark<br />
			#2f3233
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #464a4c;"></span>
		<span class="sg-label">
			$rql-gray<br />
			#464a4c
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a3a5a6;"></span>
		<span class="sg-label">
			$rql-gray-light<br />
			#a3a5a6
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c8c9c9;"></span>
		<span class="sg-label">
			$rql-gray-lighter<br />
			#c8c9c9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e9e9ea;"></span>
		<span class="sg-label">
			$rql-gray-lightest<br />
			#e9e9ea
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">
			$black<br />
			#000
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">
			$white<br />
			#fff
		</span>
	</li>
</ul>
