<div class="sg-buttons">
  <button class="btn btn-primary">Primary Button</button>
  <button class="btn btn-default">Default Button</button>
  <button class="btn btn-secondary">Secondary Button</button>
  <button class="btn btn-success">Success Button</button>
  <button class="btn btn-info">Info Button</button>
  <button class="btn btn-warning">Warning Button</button>
  <button class="btn btn-danger">Danger Button</button>
</div>

<div class="sg-buttons">
  <button class="btn btn-outline-primary">Primary Outline Button</button>
  <button class="btn btn-outline-default">Default Outline Button</button>
  <button class="btn btn-outline-secondary">Secondary Outline Button</button>
  <button class="btn btn-outline-success">Success Outline Button</button>
  <button class="btn btn-outline-info">Info Outline Button</button>
  <button class="btn btn-outline-warning">Warning Outline Button</button>
  <button class="btn btn-outline-danger">Danger Outline Button</button>
</div>

<div class="sg-buttons-other">
  <button class="btn btn-outline-black">Black Outline Button</button>
  <button class="btn btn-outline-white">White Outline Button</button>
  <button class="btn btn-link">Link Button</button>
</div>